{% extends "MainBundle::layout.html.twig" %}

{% block title %}Home page{% endblock %}

{% block content %}
    <div class="jumbotron form-container">
        <div class="container">
            <div class="col-md-offset-3 col-md-6">
                {{ form_start(form, {'attr': {'id': 'upload-form'}}) }}
                {{ form_errors(form) }}

                <div class="col-md-6 form-group">
                    {{ form_label(form.brand) }}
                    {{ form_errors(form.brand) }}
                    {{ form_widget(form.brand, {'attr': {'class': 'selectpicker'}}) }}
                </div>

                <div class="col-md-6 form-group">
                    {{ form_label(form.model) }}
                    {{ form_errors(form.model) }}
                    {{ form_widget(form.model, {'attr': {'class': 'selectpicker'}}) }}
                </div>

                <div class="col-md-12 form-group">
                    {{ form_label(form.comment, 'Komentarai') }}
                    {{ form_errors(form.comment) }}
                    {{ form_widget(form.comment, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="col-md-12 form-group">
                    {{ form_label(form.features) }}
                    <div class="well">
                        {% for feature in form.features %}
                        <div class="checkbox">
                            {{ form_widget(feature, {'attr': {'class': ''}}) }}
                            {{ form_label(feature) }}
                        </div>
                        {% endfor %}
                    </div>
                    {{ form_errors(form.features) }}
                </div>

                <div class="col-sm-offset-8 col-sm-4 col-xs-offset-6 col-xs-6 form-group">
                    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-success btn-block'}}) }}
                </div>


                {{ form_end(form) }}
            </div>
        </div>
    </div>
    <div class="container products-holder"></div>
{% endblock %}